<html>
  <title>{{title}}</title>
  
  <link rel ='stylesheet' href='stylesheets/style.css' />
  
  <body>
    <h1>{{title}}</h1>
    <i>
      <h2>"{{message}}"</h2>
      - {{author.name}} {{author.age}}
    </i>
    <hr />
    <footer>
      <small id="id1">Rendered by Handlebars</small>
    <footer>
  </body>
<html>